*,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #C8F7D4;
}

.navigation-header{
    padding: 0 15px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    width: 100%;
max-width: 1200px;
}