*,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #C8F7D4;
}

.navigation-header{
    padding: 0 15px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-container >a {
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
    color: #024C3A;

}
.navigation-items{
    display: flex;
    gap:40px;
}

.navigation-items >a {
    text-decoration: none;
    color:#024C3A;
    font-weight: 500;
    font-size: 16px;
    transition: .4s ease-in-out;
}
.navigation-items >a:hover{
    color: white;
}

.hamburgers{
display: none;
font-size: 20px;
font-weight: 800;
color:white;
}
@media  screen and (max-width:768px){
    .hamburgers{
        display: flex;
        cursor:pointer;
    }
    .hamburgers #closeHam{
        display: none;
    }
    .navigation-items{
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 0;
        top: 50px;
        background-color: #008BCF;
        width: 100%;
        height:calc(100vh - 58px);
        padding-top: 60px;
        gap: 10vh;
    }
}